.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore legislation database and HTML files
output/legislation.db
output/legislation_html/
legislation_html/
data/*.xlsx

# Ignore Excel files and udpipe model files
*.udpipe
