.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore legislation database and HTML files
output/legislation.db
output/legislation_html/
legislation_html/
data/*.xlsx
*.xlsx

# Ignore Excel files and udpipe model files
*.udpipe

# Ignore Journal Article Files
figures/

# Ignore web app workaround folder
web_app_workaround/

archive/

*.Rmd