.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore legislation database and HTML files
output/legislation.db
data/legislation_html/
data/*.xlsx
*.xlsx

# Ignore Excel files and udpipe model files
*.udpipe

# Ignore reporting folders etc.
figures/
archive/
reports/

*.Rmd